<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name ="RestaurantService.RestaurantService" behaviorConfiguration="mexBehavior">
        <endpoint address="RestaurantService" binding="basicHttpBinding" contract="RestaurantService.IRestaurantServices">
      </endpoint>
        <endpoint address="RestaurantService" binding="netTcpBinding" contract="RestaurantService.IRestaurantServices">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:5000/"/>
        <add baseAddress="net.tcp://localhost:5010/"/>
      </baseAddresses>
    </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
            </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>